<form action="/teams" method="post">
  <h1>Create a Team and Heroes!</h1>
  Superhero Team Name: <input type="text" id="team[name]" name="team[name]">
  Superhero Team Motto: <input type="text" id="team[motto]" name="team[motto]">
  Team Member 1 Name: <input type="text" id="member1_name" name="team[members][][name]">
  Team Member 1 Power: <input type="text" id="member1_power" name="team[members][][power]">
  Team Member 1 Bio: <input type="text" id="member1_bio" name="team[members][][bio]">
  Team Member 2 Name: <input type="text" id="member2_name" name="team[members][][name]">
  Team Member 2 Power: <input type="text" id="member2_power" name="team[members][][power]">
  Team Member 2 Bio: <input type="text" id="member2_bio" name="team[members][][bio]">
  Team Member 3 Name: <input type="text" id="member3_name" name="team[members][][name]">
  Team Member 3 Power: <input type="text" id="member3_power" name="team[members][][power]">
  Team Member 3 Bio: <input type="text" id="member3_bio" name="team[members][][bio]">
  <input type="submit" id="submit">
</form>
